html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  color: #ffffff;

  background-color: #f4f7f9;
}

.header a {
  color: #ffffff;
}

.main-page {
  background-color: #ee3643;
}

.top-menu .main-page:hover,
.page-footer .main-page:hover {
  color: #ffffff;
  background-color: #ca2c37;
}

.top-menu .main-page:focus,
.top-menu .main-page:active,
.page-footer .main-page:focus,
.page-footer .main-page:active {
  background-color: #ba2732;
  color: rgb(255,255,255, 0.3);
}

.search {
  color: #ffffff;
  border-width: 0px;

  background-color: #293449;
}

.search::placeholder {
  color: #ffffff;
}

.top-menu .search:hover {
  background-color: #212a3a;
}

.top-menu .search:focus,
.top-menu .search:active {
  color: #000000;
  background-color: #ffffff;
}

.top-menu {
  line-height: 18px;
  
  background-color: #293449;
}

.top-menu a:hover {
  background-color: #212a3a;
}

.top-menu a:focus,
.top-menu a:active {
  background-color: #161d29;
  color: rgb(255,255,255, 0.3);
}

.checkout {
  background-color: #63a63e;
}

.top-menu .checkout:hover {
  background-color: #5fbb2d;
}

.top-menu .checkout:focus,
.top-menu .checkout:active {
  background-color: #518534;
}

.page-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.phone-contact {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  
  border: 3px solid white;
}

.city-contact {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-menu li {
  list-style: none;
}

.user-menu a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  list-style: none;
  background-color: #ffffff;
}

.my-orders,
.area {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
}

.user-menu a:hover {
  color: #ee3643;
}

.user-menu a:focus,
.user-menu a:active {
  color: rgb(0,0,0, 0.3);
}

.user-menu-in li,
.user-menu li {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.user-menu-in a{
  color: #32425c;
  text-decoration: underline;
}

.user-menu-in a:hover {
  color: #ee3643;
}

.user-menu-in a:focus,
.user-menu-in a:active {
  color: rgb(0,0,0, 0.3);
}

.user a {
  color: #000000;
  text-decoration: none;
}

.user a:hover {
  color: #000000;
}

.user a:focus,
.user a:active {
  color: rgb(0,0,0, 0.3);
}

.main-navigation li {
  font-size: 17px;
  line-height: 17px;
  list-style: none;
  color: #ffffff;
  background-color: #32425c;
}

.main-navigation ul {
  margin-left: 0;
  padding-left: 0;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:focus,
.main-navigation a:active {
  background-color: #1d2739;
  color: rgb(255,255,255, 0.3);
}

.breadcrumbs li {
  list-style: none;
}

.breadcrumbs a{
   font-family: "PT Sans", Arial, sans-serif;
   color: #000000;
   font-size: 13px;
   line-height: 18px;
   text-transform: uppercase;
}

.information h2 {
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.information p {
  font-size: 13px;
  line-height: 24px;
}

.information li {
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus,
.button:active {
  background-color: #ba2732;
}

.page-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
}

.page-footer a  {
  color: #ffffff;
}

.page-footer li {
  list-style: none;
}

.shop-list a {
  color: #ffd180;
}

.footer-menu a:hover,
.shop-list a:hover {
  text-decoration: underline;
}

.footer-menu a:focus,
.footer-menu a:active {
  text-decoration: none;
  color: rgb(255,255,255, 0.3);
}

.shop-list a:focus,
.shop-list a:active {
  text-decoration: none;
  color: rgb(255, 209, 128, 0.3);
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.footer-bottom a {
  color: #ffd180;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom a:focus,
.footer-bottom a:active {
  text-decoration: none;
  color: #ee3643;
}

/* Modal */
.modal {
  display: none;
}

/* Скрытный текст */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* СЕТКА */

.top-menu {
  width: 100%;
  min-height: 40px;
  margin-bottom: 55px;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.top-menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-left {
  width: 460px;
  display: flex;
}

.flex-right {
  width: 460px;
  display: flex;
  justify-content: flex-end;
}

.main-page {
  width: 220px;
  min-height: 40px;
  margin-right: 10px;

  text-align: center;
}

input[type="search"] {
  width: 220px;
  min-height: 40px;
}

.flex-right {
  width: 460px;
  display: flex;
}

.bookmarks,
.basket,
.checkout {
  width: 150px;
  min-height: 40px;
}

.middle-memu .container {
  display: flex;
  justify-content: space-between;
}

.title {
  width: 200px;
  margin-left: 40px;
  margin-right: 70px;
}

.middle-memu {
  margin-bottom: 40px; 
}

.user-menu {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.main-navigation {
  width: 940px;
  margin: 0 auto;
}

.site-navigation {
  display: flex;
  justify-content: space-around;

  background-color: #32425c;
}

.site-navigation li {
  min-height: 60px;
}

.header {
  margin-bottom: 60px;
  padding-bottom: 60px;
}

.information {
  display: flex;
}

.about-company {
  width: 540px;

  margin-right: 100px;
}

.transport-company {
  width: 300px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.flex-footer-left {
  width: 380px;
  margin-right: 10px;
}

.flex-footer-right {
  width: 550px;

  justify-content: flex-end;
}

.footer-menu,
.shop-list {
  display: flex;
  justify-content: flex-end;
}

.footer-menu li,
.shop-list li {
  margin-right: 5px;
}

.footer-menu li:last-child,
.shop-list li:last-child {
  margin-right: 0;
}

.flex-footer-bottom {
  display: flex;
  justify-content: space-between;
}

.flex-footer-bottom-left {
  width: 300px;
}

.flex-footer-bottom-center {
  width: 160px;
}

.flex-footer-bottom-rigth {
  width: 300px;
}

.services {
  width: 960px;

  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  margin-bottom: 53px;
}

.block {
  width: 300px;
  height: 123px;
  background-color: #212a3a;
  margin-right: 20px;
  margin-bottom: 20px;
}

.slaid {
  width: 620px;
  height: 266px;
}

.block a {
  color: #ffffff;
}

.popular {
  background-color: #f9f5f0;

  display: flex;
  justify-content: space-between;

  padding-left: 30px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.products-list {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
}

.generator-logo ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.generator-logo a {
  display: block;

  width: 220px;
  height: 145px;
}

.generators {
  margin-bottom: 85px;
}

.handling-list {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.handling-bottom {
  display: flex;
}

.handling {
  background-color: #f4f8f9;
  
  padding-top: 70px;
  padding-bottom: 100px;
  margin-bottom: 80px;
}

.breadcrumbs {
  display: flex;

  margin-left: 0;
  padding-left: 0;
}

.breadcrumbs li {
  font-size: 13px;
  line-height: 18px;

  margin-right: 20px;
}

.body-main .header {
  margin-bottom: 25px;
}

.name-catalog {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  background-color: #f2f6f8;

  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 35px;
}

.flex-catalog {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  width: 220px;

  margin-right: 20px;
  margin-top: 0;
}

.catalog-items {
  width: 700px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 220px;
  height: 318px;
}

.filter-block {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;

  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 20px;
  margin-top: 0;

  text-transform: uppercase;
  background-color: #f7f3ec;
}

.sorting {
  width: 100%;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;

  background-color: #f7f3ec;

  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 20px;
  margin-top: 20xp;
}

.page-number {
  margin-top: 50px;
  margin-bottom: 60px;
}

.page-number ul{
  display: flex;

  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.page-number li {
  margin-right: 10px;
}

.main-bottom {
  padding-top: 70px;
  padding-bottom: 75px;

  background-color: #f2f6f8;
}

.about-perforator {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-perforator-text {
  font-size: 13px;
  line-height: 24px;
}

/* Slider-main */
.slaid {
  position: relative;
}

.slaid input[type="radio"] {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  width: 200%;
  transition: transform 0.8s ease;
}

.slider-slides .sliderx {
  float: left;
  width: 620px;
  height: 266px;
}

.slider-controls {
  position: absolute;
  z-index: 1;

  margin-top: 215px;
  margin-left: 295px;

}

.slider-controls label {
  display: inline-block;
  margin: 0 2.5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white; 
  border: 2px solid white;
  cursor: pointer;
  transition: background-color 0.2s;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #ee3643;
}


#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-620px);
}

.handling-top {
  margin-bottom: 75px;
}

.handling-list {
  width: 240px;
  margin-right: 80px;
}

.slide-handling {
  width: 630px;
}