html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;

  min-width: 960px;
}

a {
  text-decoration: none;
}

.header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  color: #ffffff;

  background-color: #f4f7f9;
}

.header a {
  color: #ffffff;
}

.main-page {
  background-color: #ee3643;
}

.top-menu .main-page:hover,
.page-footer .main-page:hover {
  color: #ffffff;
  background-color: #ca2c37;
}

.top-menu .main-page:focus,
.top-menu .main-page:active,
.page-footer .main-page:focus,
.page-footer .main-page:active {
  background-color: #ba2732;
  color: rgba(255,255,255, 0.3);
}

.search {
  color: #ffffff;
  border-width: 0px;

  background-color: #293449;
}

.search::-webkit-input-placeholder {
  color: #ffffff;
}

.search:-ms-input-placeholder {
  color: #ffffff;
}

.search::-ms-input-placeholder {
  color: #ffffff;
}

.search::placeholder {
  color: #ffffff;
}


.top-menu .search:hover {
  background-color: #212a3a;

  background-image: url("../img/icon-search.svg");
  background-position: 17px 13px;
  background-repeat: no-repeat;
}

.top-menu .search:focus,
.top-menu .search:active {
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/icon-search-active.svg");
  background-position: 17px 13px;
  background-repeat: no-repeat;
}

.top-menu {
  line-height: 18px;
  
  background-color: #293449;
}

.top-menu a:hover {
  background-color: #212a3a;
}

.top-menu a:focus,
.top-menu a:active {
  background-color: #161d29;
  color: rgba(255,255,255, 0.3);
}

.checkout {
  background-color: #63a63e;
}

.top-menu .checkout:hover {
  background-color: #5fbb2d;
}

.top-menu .checkout:focus,
.top-menu .checkout:active {
  background-color: #518534;
}

.page-title {
  padding: 0;
  margin: 0;
}

.middle-memu .page-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
  font-weight: normal;
  
  width: 300px;

  padding-left: 52px;
  padding-right: 30px;
  padding-top: 4px;
  margin-right: 20px;
}

.title-contact {
  width: 270px;
  margin-right: 69px;
}

.inner .title-contact {
  margin-right: 50px;
}

.title-contact p {
  margin: 0;
  padding: 0;
}

.title-contact .phone-contact {
  position: relative;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid white;

  padding-top: 11px;
  padding-left: 71px;
  padding-bottom: 8px;
}

.phone-contact::before {
  content: "";
  position: absolute;

  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");

  left: 12px;
  top: 10px;
}

.title-contact .city-contact {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;

  padding-left: 10px;
  margin-top: 4px;
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; 

  margin: 0;
  padding: 0;
}

.user-menu li {
  list-style: none;
  padding: 0;
}

.user-menu a {
  display: block;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  list-style: none;

  background-color: #ffffff;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 25px;
}

.login-in {
  width: 121px;
  margin-right: 10px;
  padding-left: 48px;

  position: relative;
}

.login-in::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.login-in:hover::before {
  opacity: 1;
}

.login-in:focus::before,
.login-in:active::before {
  opacity: 0.3;
}

.check-in {
  display: block;

  width: 150px;
  padding-left: 25px;
}

.my-orders,
.area {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
}

.user-menu a:hover {
  color: #ee3643;
}

.user-menu a:focus,
.user-menu a:active {
  color: rgba(0,0,0, 0.3);
}

.user-menu-in li,
.user-menu li {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.user-menu-in a{
  color: #32425c;
  text-decoration: underline;
}

.user-menu-in a:hover {
  color: #ee3643;
}

.user-menu-in a:focus,
.user-menu-in a:active {
  color: rgba(0,0,0, 0.3);
}

.user a {
  color: #000000;
  text-decoration: none;
}

.user a:hover {
  color: #000000;
}

.user a:focus,
.user a:active {
  color: rgba(0,0,0, 0.3);
}

.main-navigation li {
  font-size: 17px;
  line-height: 17px;
  list-style: none;
  color: #ffffff;
  background-color: #32425c;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:focus,
.main-navigation a:active {
  background-color: #1d2739;
  color: rgba(255,255,255, 0.3);
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
}

.breadcrumbs li {
  list-style: none;
}

.breadcrumbs a {
   font-family: "PT Sans", Arial, sans-serif;
   color: #000000;
   font-size: 13px;
   line-height: 18px;
   text-transform: uppercase;

   display: block;
   position: relative;
}

.breadcrumbs .breadcrumbs-home {
  width: 36px;
  margin-right: 18px;
}

.breadcrumbs .breadcrumbs-home::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 12px;
  top: 3px;
  left: 0;

  background-image: url("../img/icon-home.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.breadcrumbs .breadcrumbs-home::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 12px;
  top: 3px;
  right: 0;

  background-image: url("../img/icon-right-small.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.breadcrumbs .breadcrumbs-catalog {
  width: 77px;
  margin-right: 15px;
}

.breadcrumbs .breadcrumbs-catalog::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 12px;
  top: 3px;
  right: 0;

  background-image: url("../img/icon-right-small.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.breadcrumbs .breadcrumbs-tool {
  width: 105px;
  margin-right: 17px;
}

.breadcrumbs .breadcrumbs-tool::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 12px;
  top: 3px;
  right: 0;

  background-image: url("../img/icon-right-small.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.information p,
.information h2 {
  margin: 0;
  padding: 0;
}

.information h2 {
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.information {
  padding: 0;
  margin: 0;
}

.information li {
  list-style: none;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;

  padding-left: 35px;
}

.button {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;

  padding-top: 11px;
  padding-bottom: 9px;

  border-radius: 3px;
  border-width: 1px;
  border-color: transparent;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus,
.button:active {
  background-color: #ba2732;
}

.page-footer {
  margin-top: 54px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
}

.page-footer p,
.page-footer ul {
  margin: 0;
  padding: 0;
}

.inner .page-footer {
  margin-top: 0;
}

.page-footer a  {
  color: #ffffff;
}

.page-footer li {
  list-style: none;
}

.shop-list a {
  color: #ffd180;
}

.footer-menu a:hover,
.shop-list a:hover {
  text-decoration: underline;
}

.footer-menu a:focus,
.footer-menu a:active {
  text-decoration: none;
  color: rgba(255,255,255, 0.3);
}

.shop-list a:focus,
.shop-list a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.3);
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
} 

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #ffd180;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom a:focus,
.footer-bottom a:active {
  text-decoration: none;
  color: #ee3643;
}

.top-menu {
  width: 100%;
  min-height: 42px;
  margin-bottom: 45px;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.top-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-left {
  width: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-right {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-right a {
  display: block;
  min-height:  42px;
}

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  min-height: 42px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
  padding-top: 12px;

  -webkit-box-shadow:  0 5px 0 0 #b52933;

          box-shadow:  0 5px 0 0 #b52933;
}

.page-footer .main-page {
  min-height: 63px;
  
  padding-top: 21px;
  margin-bottom: 28px;
}

.form-search input[type="search"] {
  width: 270px;
  min-height: 42px;
}

.bookmarks,
.basket,
.checkout {
  width: 150px;
  display: block;

  position: relative;
}

.middle-memu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-memu {
  margin-bottom: 40px; 
}

.main-navigation {
  width: 940px;
  margin: 0 auto;
  -webkit-box-shadow: 0 5px 0 0 #293449;
          box-shadow: 0 5px 0 0 #293449;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  background-color: #32425c;
}

.site-navigation a {
  display: block;
  padding-top: 19px;
  padding-bottom: 18px;
  padding-left: 31px;
  padding-right: 30px;
}

.header {
  margin-bottom: 60px;
  padding-bottom: 64px;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-company {
  width: 540px;

  margin-right: 100px;
}

.transport-company {
  width: 300px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding-bottom: 47px; 
}

.flex-footer-left {
  width: 330px;
}

.flex-footer-left p,
.flex-footer-right a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.flex-footer-right {
  width: 550px;
}

.footer-menu {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-menu,
.shop-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.shop-list {
  margin: 0;
  padding: 0;
  margin-bottom: 73px;
}

.footer-menu li,
.shop-list li {
  margin-left: 59px;
}

.footer-menu li:first-child,
.shop-list li:first-child {
  margin-left: 0;
}

.flex-footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-top: 39px;
  padding-bottom: 35px;
}

.flex-footer-bottom-left {
  width: 300px;
  margin-right: 90px;
}

.flex-footer-bottom-center {
  width: 131px;
  margin-right: 119px;
}

.flex-footer-bottom-rigth {
  width: 300px;
}

.services {
  width: 960px;

  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  
  margin-bottom: 33px;
}

.block {
  width: 300px;
  min-height: 123px;
  position: relative;

  background-color: #212a3a;

  margin-right: 20px;
  margin-bottom: 20px;
}

.slide {
  width: 620px;
  min-height: 266px;
}

.block a {
  color: #ffffff;
}

.popular {
  background-color: #f9f5f0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding-left: 28px;
  padding-right: 24px;
  padding-top: 25px;
  padding-bottom: 26px;
  margin-bottom: 20px;
}

.popular h2 {
  padding-top: 5px;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-bottom: 1px;
}

.generator-logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.generators {
  margin-bottom: 65px;
}

.handling-list {
  list-style: none;

  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.handling-list .style-list-service {
  display: block;

  width: 240px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  color: white;
  background-color: #32425c;

  padding-left: 22px;
  padding-top: 14px;
  padding-bottom: 16px;

  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #405069;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #293449;

  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.handling-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 950px;
}

.handling {
  background-color: #f4f8f9;
  
  padding-top: 65px;
  margin-bottom: 82px;
}

.handling h2 {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;

  text-transform: uppercase;
}

.inner .header {
  margin-bottom: 22px;
}

.name-catalog {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  letter-spacing: -1px;

  background-color: #f2f6f8;

  margin: 0;
  padding: 0;
  padding-left: 28px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.flex-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filters {
  width: 220px;

  margin-right: 20px;
  margin-top: 0;
}

.catalog-items {
  width: 700px;
}

.catalog-items .sorting {
  margin-bottom: 20px;
}

.item {
  position: relative;
  display: inline-block;
  width: 220px;
  min-height: 318px;
  vertical-align: top;

  margin-right: 20px;
  margin-bottom: 20px;
  
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  
  border: 1px solid #eaeaea;
}

.catalog-items .item {
  margin-right: 16px;
}

.products-list .item:nth-of-type(4n) {
  margin-right: 0;
}

.catalog-items-price .item:nth-of-type(3n) {
  margin-right: 0;
}

.model {
  display: block;

  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;

  padding: 0 5px;
}

.discount-item {
  font-size: 17px;
  line-height: 18px;

  min-height: 18px;

  margin-top: 12px;
  margin-bottom: 10px;
  
  color: #999;
  text-decoration: line-through;
}

.price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  position: relative;
  width: 135px;
  min-height: 38px;
  margin: 10px auto;
  margin-bottom: 10px;
  padding: 10px 20px;
  
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.price::after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -27px;
  
  width: 0;
  height: 0;
  
  border: 19px solid white;
  border-left-color: #ee3643;
}

.filter-block {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;

  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-top: 0;

  text-transform: uppercase;
  background-color: #f7f3ec;
  border-width: 1px;
  border-color: transparent;
  border-radius: 3px;
}

.sorting p {
  margin: 0;
  padding: 0;
  margin-right: 140px;
}

.sorting {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;

  background-color: #f7f3ec;
  border-width: 1px;
  border-color: transparent;
  border-radius: 3px;

  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-list .sort-price {
  margin-right: 71px;
}

.sorting-list .sort-type {
  margin-right: 66px;
}

.sorting-list .sort-functional {
  margin-right: 45px;
}

.sorting-list a {
  display: block;

  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-list a {
  border-width: 1px;
  border-color: #ee3643;
  border-bottom-style: dashed;
}

.sort-up {
  margin-right: 21px;
}

.sorting-list a:hover {
  color: #000000;
}

.sorting-list a:focus,
.sorting-list a:active {
  color: red;
  border: none;
}

.sorting-list li:nth-of-type(4) a,
.sorting-list li:nth-of-type(5) a {
  border: none;
}

.sorting-list li:nth-of-type(4) a:hover path,
.sorting-list li:nth-of-type(5) a:hover path {
  fill: rgba(0,0,0, 1);
}

.sorting-list li:nth-of-type(4) a:focus path,
.sorting-list li:nth-of-type(4) a:active path,
.sorting-list li:nth-of-type(5) a:focus path,
.sorting-list li:nth-of-type(5) a:active path {
  fill: #ee3643;
}

.sorting-list .sort-active {
  border: none;
  color: red;
}

.sort-active path {
  fill: red;
}

.page-number {
  margin: 0;
  padding: 0;

  margin-top: 32px;
  margin-bottom: 60px;
}

.page-number ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.page-number li {
  margin-right: 10px;
}

.main-bottom {
  padding-top: 64px;
  padding-bottom: 67px;

  background-color: #f2f6f8;
}

.about-perforator {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.about-perforator-text {
  padding: 0;
  margin: 0;

  margin-top: 26px;
  font-size: 13px;
  line-height: 24px;
}

.slide {
  position: relative;
}

.slide img {
  position: absolute;
}

.slide input[type="radio"] {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  width: 200%;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  -o-transition: transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.slider-slides .sliderx {
  float: left;
  width: 620px;
  min-height: 266px;
}

.slider-slides .sliderx:first-child {
  background-image: url("../img/slide-first.jpg")
}

.slider-slides .sliderx:last-child {
  background-image: url("../img/slide-second.jpg")
}

.sliderx h3,
.sliderx p {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
}

.slider-slides .sliderx h3 {
  font-size: 36px;
  line-height: 36px;

  text-transform: uppercase;
  font-weight: bold;
  margin-left: 24px;
  margin-top: 23px;
}

.slider-slides .sliderx p {
  font-size: 18px;
  line-height: 24px;

  margin-left: 24px;
  margin-top: 2px;
}

.slider-controls {
  position: absolute;
  z-index: 1;

  margin-top: 215px;
  margin-left: 295px;

}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  margin: 0 2.5px;
  width: 10px;
  min-height: 10px;
  border-radius: 50%;
  background-color: white; 
  border: 2px solid white;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #ee3643;
}

.slide-click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 575px;

  margin-top: 114px;
  margin-left: 25px;

  z-index: 1;
}

.slide-click label {
  width: 22px;
  min-height: 40px;

  cursor: pointer;
}

.slide-click label:nth-of-type(1) {
  background-image: url("../img/icon-left.svg");
}

.slide-click label:nth-of-type(2) {
  background-image: url("../img/icon-right.svg");
}

#btn-1:checked ~ .slider-inner .slider-slides {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  -webkit-transform: translate(-620px);
      -ms-transform: translate(-620px);
          transform: translate(-620px);
}

.handling-top {
  width: 400px;
}

.handling-top p {
  margin: 0;
  margin-top: 26px;
  margin-bottom: 68px;

  text-align: justify;
}

.handling-list {
  width: 240px;
}

.handling .container {
  padding-right: 0;
}

.slide-handling {
  position: relative;
  overflow: hidden;
}

.slide-handling-list h3 {
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", Arial, sans-serif; 
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #32425c;

  text-transform: uppercase;
}

.slide-handling .deliverys {
  min-height: 282px;

  background-image: url("../img/car.png");
  background-repeat: no-repeat;
  background-position: 151px  24px;
}

.deliverys p {
  width: 280px;
}

.slide-handling .guarantee {
  min-height: 282px;

  background-image: url("../img/medal.png"); 
  background-repeat: no-repeat;
  background-position: 100%  0;
}

.guarantee p {
  width: 380px;
}

.slide-handling .credit {
  min-height: 282px;

  background-image: url("../img/credit.png"); 
  background-repeat: no-repeat;
  background-position: 100%  0;
}

.credit p {
  width: 285px;
}

.slide-handling {
  width: 710px;

  padding-left: 80px;
}

.slide-handling p {
  margin: 0;
  margin-top: 25px;
}

.flex-left input {
  padding-left: 48px;
  outline: none;
}

.bookmarks {
  padding-top: 12px;
  padding-left: 44px;
  padding-bottom: 12px;
  padding-right: 10px;
}

.bookmarks::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.bookmarks:hover::before {
  opacity: 1;
}

.bookmarks:focus::before,
.bookmarks:active::before {
  opacity: 0.3;
}

.basket::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.basket:hover::before {
  opacity: 1;
}

.basket:focus::before,
.basket:active::before {
  opacity: 0.3;
}

.basket {
  padding-top: 12px;
  padding-left: 50px;
  padding-bottom: 12px;
  padding-right: 10px;
}

.inner .basket {
  background-color: #ee3643;
}

.checkout {
  text-align: center;
  padding-top: 12px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 12px;
}

.services {
  font-family: "Cuprum", Arial, sans-serif;
  color: white;
}

.services h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px; 
}

.services a {
  display: block;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  margin-left: 1px;
  margin-top: 13px;
}

.materials a,
.tools a {
  margin-left: 2px;
}

.materials {
  background-color: #ffbf47;

  padding-left: 23px;
  padding-top: 20px;

  position: relative;
}

.materials::after {
  content: "";

  position: absolute;

  width: 44px;
  height: 65px;
  right: 43px;
  top: 31px;

  background-image: url("../img/icon-1.svg");
}

.tools {
  background-color: #3bbce3;

  padding-left: 23px;
  padding-top: 20px;
  padding-right: 27px;

  position: relative;
}

.tools::after {
  content: "";

  position: absolute;

  width: 75px;
  height: 61px;
  right: 28px;
  top: 33px;

  background-image: url("../img/icon-2.svg");
}

.mechanism {
  background-color: #dc91d8;

  padding-left: 23px;
  padding-top: 20px;
  padding-right: 31px;

  position: relative;
}

.mechanism::after {
  content: "";

  position: absolute;

  width: 78px;
  height: 62px;
  right: 31px;
  top: 31px;

  background-image: url("../img/icon-3.svg");
}

.discount {
  background-color: #8ed78f;

  padding-left: 23px;
  padding-top: 20px;
  padding-right: 45px;

  position: relative;
}

.discount::after {
  content: "";

  position: absolute;

  width: 59px;
  height: 72px;
  right: 45px;
  top: 26px;

  background-image: url("../img/icon-4.svg");
}

.delivery {
  background-color: #ffc047;

  padding-left: 23px;
  padding-top: 20px;
  padding-right: 31px;

  position: relative;
}

.delivery::after {
  content: "";

  position: absolute;

  width: 78px;
  height: 63px;
  right: 31px;
  top: 32px;

  background-image: url("../img/icon-5.svg");
}

.button-block {
  display: block;
  width: 135px;
  min-height: 38px;

  padding: 10px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);

  border-radius: 4px;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;

  opacity: 1;
}

.block a:hover {
  background-color: rgba(0,0,0, 0.2);
}

.block a:focus,
.block a:active {
  background-color: rgba(0,0,0, 0.3);
}

.popular h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;

  margin: 0;
}

.popular .button {
  width: 253px;
}

.item img {
  margin-bottom: 3px;
}

.item .actions {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  min-height: 130px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255, 1);
  z-index: 10;
}

.item .actions .buy,
.item .actions .bookmark {
  position: relative;
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", Arial,  sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.actions .buy::before {
  position: absolute;
  content: "";
  
  width: 15px;
  height: 15px;
  
  top: 7px;
  left: 10px;
  background-image: url("../img/icon-cart.svg");
}

.item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.item:hover,
.generator-logo-list a:hover {
  -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0, 0.5);
          box-shadow: 0 5px 20px 0 rgba(0,0,0, 0.5);
}

.generator-logo-list a:focus,
.generator-logo-list a:active {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0, 0.3);
          box-shadow: 0 3px 5px 0 rgba(0,0,0, 0.3);
  opacity: 0.3;
}

.item .actions {
  display: none;
}

.item:hover .actions {
  display: block;
}

.item .actions .buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.item .actions .buy:focus,
.item .actions .buy:active {
  background-color: #367315;
  border: 3px solid #367315;
  border-bottom-color: #367315;
}

.item .actions .bookmark:hover {
  background: white;
  border-color: #32425c;
}

.item .actions .bookmark:focus,
.item .actions .bookmark:active {
  background: white;
  border-color: rgba(50, 66, 92, 0.3);
  color: rgba(50, 66, 92, 0.3);
}

.generator-logo-list {
  margin: 0;
  padding: 0;
}

.generator-logo-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 220px;
  height: 145px;
  
  margin-bottom: 20px;

  border: 1px solid #eaeaea;

  vertical-align: middle;
}

.flex-footer-bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback,
.develop {
  width: 140px;
}

.feedback {
  margin-right: 20px;
}

.develop {
  padding-left:  29px;
  padding-right: 15px;
}

.information h2 {
  margin-bottom: 25px;
}

.information p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.contacts p {
  width: 180px;
  margin-bottom: 32px;
}

.contacts img {
  margin-bottom: 32px;
}

.contacts .button {
  width: 300px;
}

.about-company p:nth-of-type(1) {
  margin-bottom: 25px;
}

.about-company p:nth-of-type(2) {
  width: 390px;
  margin-bottom: 21px;
}

.transport-company {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.transport-company li {
  margin-bottom: 20px;
}

.about-company .button {
  width: 220px;
}

.manufacturers-list {
  margin: 0;
  padding: 0;
}

.manufacturers-list li {
  list-style: none;

  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
}
.manufacturers {
  border-top-width: 1px;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  border-top-color: rgba(229, 229, 229, 0.3);

  margin: 0;
  padding: 0;
  padding-top: 16px;
  margin-top: 24px;
  margin-bottom: 2px;
}

.form-search {
  position: relative;
}

.form-search::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 17px;

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.transport-company li {
  position: relative;
}

.transport-company li::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 0px;

  width: 25px;
  height: 2px;

  background-image: url("../img/type-list.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.button-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 41px;
  height: 41px;

  background-color: #212a3a;
  border: 1px solid transparent;
  border-radius: 50%;
  
  margin-right: 4px;
}

.button-social .inst {
  margin-right: 0;
}

.vk:hover,
.vk:focus,
.vk:active,
.fb:hover,
.fb:focus,
.fb:active,
.inst:hover,
.inst:focus,
.inst:active {
  background-color: #ee3643;
}

.user-menu-in {
  margin: 0;
  padding: 0;

  line-height: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 300px;
}

.user {
  width: 240px;

  font-size: 21px;
  line-height: 21px;
}

.user a {
  display: block;

  background-color: #ffffff;
  color: #000000;

  padding-left: 45px;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-right: 8px;

  position: relative;
}

.login-out a {
  display: block;

  width: 60px;
  position: relative;
  background-color: #ffffff;

  padding-top: 45px;
  padding-right: 10px;
  padding-left: 28px;
}

.user svg {
  position: absolute;

  left: 13px;
  top: 12px;

  opacity: 0.3;
}

.user a:hover svg {
  opacity: 1;
}

.user a:focus svg,
.user a:active svg {
  opacity: 0.3;
}

.login-out svg {
  position: absolute;

  left: 28px;
  top: 12px;

  opacity: 0.3;
}

.login-out a:hover svg {
  opacity: 1;
}

.login-out a:focus svg,
.login-out a:active svg {
  opacity: 0.3;
}

.user-menu-in li:nth-of-type(3) {
  margin-left: 18px;
  margin-right:  32px;
  margin-top: 9px;
}

.user-menu-in li:nth-of-type(4) {
  list-style-type: disc;
  color: #32425c;
  margin-top: 9px;
}

.option {
  border-top-width: 1px;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  border-top-color: rgba(229, 229, 229, 0.3);

  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 20px;
}

.option-list {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.option-list li {
  list-style: none;

  font-size: 15px;
  line-height: 20px;
  margin-bottom: 17px;
}

.filter-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.form-filter h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-price {
  width: 220px;
  min-height: 80px;
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  background-color: #f7f3ec;
  border-width: 1px;
  border-color: transparent;
  border-radius: 3px;

  padding: 0 20px;
  margin-bottom: 9px;
}

.form-filter .filter-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  padding: 10px 39px;

  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  outline: none;
}

.form-filter .filter-button:hover {
  border-color: #bdc6ca;
}

.form-filter .filter-button:focus,
.form-filter .filter-button:active {
  border-color: #ee3643;
}

.handling-bottom input[type="radio"] {
  display: none;
}

.slide-handling {
  display: block;
}

.deliverys,
.guarantee,
.credit {
  display: none;
}

.style-list-service:hover {
  background-color: #293449;
}

#btn-slide-1:checked~.handling-list label[for="btn-slide-1"],
#btn-slide-2:checked~.handling-list label[for="btn-slide-2"],
#btn-slide-3:checked~.handling-list label[for="btn-slide-3"] {
  color: #32425c;
  background-color: #ffffff;
  border-color: #ffffff;

}

#btn-slide-1:checked~.slide-handling .deliverys,
#btn-slide-2:checked~.slide-handling .guarantee,
#btn-slide-3:checked~.slide-handling .credit {
  display: block;
}

.flex-footer-left p {
  padding-left: 3px;
}

.footer-menu li {
  margin-top: 38px;
}

.shop-list li {
  margin-top: 35px;
}

.new::before {
  position: absolute;

  content: "";
  width: 60px;
  height: 59px;
  top: 0;
  right: 0;

  background: transparent;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  z-index: 20;
}

.item::before {
  top: -1px;
  right: -1px;
}

.slide .button {
  position: absolute;

  width: 195px;
  top: 193px;
  left: 25px;
  z-index: 30;
}

.filter-price .range {
  width: 100%;
  min-height: 2px;

  margin-top:38px;

  background-color: #d7dcde;
}

.range-line {
  display: block;
  position: absolute;
  width: 145px;
  min-height: 2px;

  top: 38px;
  left: 30px;
  z-index: 10;

  background-color: #00ca74;
}

.button-range {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.range .button-range {
  display: block;
  position: absolute;
  width: 20px;
  min-height: 20px;

  background-color: #ababab;

  border-width: 8px;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 0 0 #e0ddd8;
          box-shadow: 0 2px 0 0 #e0ddd8;

  z-index: 20;
}

.range .button-range:first-of-type {
  top: 29px;
  left: 20px;
}

.range .button-range:last-of-type {
  top: 29px;
  right: 40px;
}

.input-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-range input[type="text"] {
  width: 95px;
  min-height: 38px;

  background-color: #f7f3ec;
  border-width: 1px;
  border-color: transparent;
  border-radius: 3px;

  text-align: center;
}

.input-range input[type="text"]::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  opacity: 1;
}

.input-range input[type="text"]:-ms-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  opacity: 1;
}

.input-range input[type="text"]::-ms-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  opacity: 1;
}

.input-range input[type="text"]::placeholder {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  opacity: 1;
}

.range-space {
  display: block;
  width: 10px;
  height: 1px;
  
  margin-top: 19px;
  
  background-color: #000000;
}

.manufacturers h2 {
  margin: 0;
  margin-bottom: 17px;

  font-size: 17px;
  line-height: 30px;

  text-transform: uppercase;
}

.option h2 {
  margin: 0;
  margin-bottom: 15px;

  font-size: 17px;
  line-height: 30px;

  text-transform: uppercase;
}

.modal {
  position: fixed;

  z-index: 100;
}

.modal h2 {
  margin: 0;
  padding: 0;
}

.form-flex-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-flex-modal .button {
  width: 100%;
  margin-top: 60px;

  cursor: pointer;

  z-index: 30;
}

.modal-letter {
  top: 150px;
  left: 50%;

  display: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;

  width: 620px;
  min-height: 430px;

  background-color: #ffffff;
  color: #000000;

  padding-left: 80px;
  padding-right: 80px;
  padding-top: 55px;
  margin-left: -310px;

  -webkit-box-shadow: 0 0 15px 0 #000000;

          box-shadow: 0 0 15px 0 #000000;
}

.modal-show-letter {
  display: block;

  animation: bounce 0.6s;
}

.modal input,
.modal textarea {
  background-color: #ffffff;
  
  border-width: 2px;
  border-color: #dee3e4;
  border-style: solid;
  border-radius: 4px;
}

.modal-letter input {
  width: 220px;
  min-height: 38px;

  margin-top: 13px;
  margin-bottom: 22px;
}

.modal-letter textarea {
  width: 460px;
  min-height: 114px;

  margin-top: 13px;
}

.form-flex-modal input[type="text"],
.form-flex-modal input[type="email"],
.form-flex-modal textarea {
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;

  text-align: left;
  padding-left: 14px;

  opacity: 1;
}

.form-flex-modal label {
  display: block;
}

.name,
.email {
  width: 220px;
}

.name {
  margin-right: 20px;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  
  width: 27px;
  height: 27px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 16px;
  right: 0;

  width: 27px;
  height: 5px;

  background-color: #ee3643;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-letter::before,
.modal-item::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 7px;

  top: 0;
  left: 0;

  background-color: #ff5257;
}

.modal-letter::after,
.modal-item::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 112px;

  bottom: 0;
  left: 0;

  background-color: #f4f4f4;
}

.modal-map p {
  margin: 0;
}

.modal-map {
  top: 50%;
  left: 50%;

  display: none;
  width: 940px;
  min-height: 446px;
  margin-top: -223px;
  margin-left: -470px;

  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0, 0.5);

          box-shadow: 0 0 20px 0 rgba(0,0,0, 0.5);
}

.modal-show-map {
  display: block;

  animation: bounce 0.6s;
}

.modal-map .modal-close::before,
.modal-map .modal-close::after {
  top: 9px;
}

.manufacturers-list input[type="checkbox"],
.option input[type="radio"] {
  display: none;
}

.manufacturers-list label {
  position: relative;
  padding-left: 35px;
}

.manufacturers-list label::before {
  position: absolute;

  content: "";
  width: 24px;
  height: 24px;

  top: -2px;
  left: 0;

  background-color: #ffffff;
  background-image: url("../img/checkbox-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.manufacturers-list input[type="checkbox"]:checked + label::before {
  position: absolute;

  content: "";
  width: 27px;
  height: 24px;

  top: -2px;
  left: 0;

  background-color: #ffffff;
  background-image: url("../img/checkbox-on.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.filter-option:hover label::before {
  opacity: 1;
}

.filter-option:hover input[type="checkbox"]:checked + label::before {
  opacity: 1;
}

.filter-option:hover input[type="radio"]:checked + label::before {
  opacity: 1;
}

.filter-option:hover input[type="checkbox"]:disabled + label::before {
  opacity: 0.3;
}

.filter-option:hover input[type="radio"]:disabled + label::before {
  opacity: 0.3;
}

.option label {
  position: relative;
  padding-left: 35px;
}

.option label::before {
  position: absolute;

  content: "";
  width: 25px;
  height: 25px;

  top: -3px;
  left: 0;

  background-image: url("../img/radio-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.option input[type="radio"]:checked + label::before {
  position: absolute;

  content: "";
  width: 25px;
  height: 25px;

  top: -3px;
  left: 0;

  background-color: #ffffff;
  background-image: url("../img/radio-on.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.page-number .button {
  width: 38px;
  padding-top: 9px;
  padding-bottom: 9px;

  color: #000000;

  background-color: #ffffff;
  border-width: 1px;
  border-radius: 4px;
  border-color: #e5e5e5;
  border-style: solid;
}

.page-number .next {
  width: 140px;
}

.page-number .button:hover {
  border-color: #bdc6ca;
}

.page-number .button:focus,
.page-number .button:active {
  border-color: #ee3643;
}

.page-number .active {
  border: none;

  color: white;
  background-color: #ee3643;
}

.modal-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Cuprum", Arial, sans-serif;
  
  display: none;
  width:620px;
  height: 282px;
  top: 50%;
  left: 50%;

  margin-top: -141px;
  margin-left: -310px;
  padding-top: 55px;
  padding-left: 80px;
  padding-right: 80px;


  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0, 0.5);


          box-shadow: 0 0 20px 0 rgba(0,0,0, 0.5);
  background-color: #ffffff;
}

.modal-item h2 {
  position: relative;
  margin: 0;
  margin-bottom: 85px;
  padding: 0;
  padding-left: 100px;

  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.modal-item h2::before {
  position: absolute;

  content: "";
  width: 66px;
  height: 66px;

  top: -17px;
  left: 0px;

  background-color: #ffffff;
  background-image: url("../img/form-1.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.modal-item .button {
  width: 220px;
  height: 38px;

  z-index: 30;
}

.modal-item .button:nth-of-type(2) {
  color: #000000;
  background-color: #ffffff;
}

.modal-item .button:nth-of-type(2):hover {
  background-color: rgba(255,255,255, 0.4);
}

.modal-item .button:nth-of-type(2):focus,
.modal-item .button:nth-of-type(2):active {
  color: rgba(0,0,0, 0.3);
  background-color: rgba(255,255,255, 0.2);
}

.modal-show-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  animation: bounce 0.6s;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}